<!-- Sirve para desplegar elementos de una tabla. -->
<a class="btn btn-danger btn-block" data-toggle="collapse" href="#collapseClientes" role="button" aria-expanded="false"
    aria-controls="collapseClientes">
    Anadir
</a>

<!--Formulario para anadir nuevos elementos a la tabla-->
<!-- Pelicula, nombre, imagen, duracion, protagonistas,director,clasificación -->
<div class="collapse" id="collapseClientes">
    <div class="card card-body">
        <form class="emp-form">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <input class="form-control" name="NombreCine" placeholder="Nombre del Cine">
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" name="Ubicacion" placeholder="Ubicacion">
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" name="CantidadSalas" placeholder="Cantidad de salas">
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" name="Clasificacion" placeholder="Clasificacion">
                </div>
                <div class="form-group col-md-3">
                    <button type="submit" class="btn btn-danger btn-block">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>