<!-- Boton para desplegar el formulario de adición de salas -->
<a class="btn btn-danger btn-block" data-toggle="collapse" href="#collapseClientes" role="button" aria-expanded="false"
  aria-controls="collapseClientes">
  Anadir
</a>

<!--Formulario para anadir nuevos elementos a la tabla-->
<!-- Pelicula, nombre, imagen, duracion, protagonistas,director,clasificación -->
<div class="collapse" id="collapseClientes">
  <div class="card card-body">
    <form class="emp-form">
      <div class="form-row">
        <div class="form-group col-md-3">
          <input class="form-control" name="Identificador" placeholder="Identificador">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="CineDuenio" placeholder="CineDuenio">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="Filas" placeholder="Filas">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="Columnas" placeholder="Columnas">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input class="form-control" name="Identificador" placeholder="Identificador">
          </div>
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-danger btn-block">Enviar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>